absl-py==2.1.0
astunparse==1.6.3
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.11.0
flatbuffers==24.3.25
fonttools==4.25.0
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.2
h5py==3.11.0
idna==3.7
importlib-metadata==7.1.0
importlib_resources==6.1.1
keras==3.2.1
kiwisolver==1.4.4
markdown==3.6
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
ml-dtypes==0.3.2
munkres==1.1.4
namex==0.0.8
numpy==1.26.4
opencv-python-headless==4.9.0.80
packaging==23.2
pandas==2.2.1
pillow==10.2.0
pip==23.3.1
protobuf==4.25.3
pygments==2.17.2
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.31.0
rich==13.7.1
seaborn==0.12.2
setuptools==68.2.2
six==1.16.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
streamlit==1.33.0
streamlit-webrtc==0.47.6
termcolor==2.4.0
tornado==6.3.3
typing-extensions==4.11.0
urllib3==2.2.1
werkzeug==3.0.2
wheel==0.41.2
wrapt==1.16.0
zipp==3.17.0
